* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* Home Page */
#navBar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to bottom right, #8b0000, #ff8c00);
  padding: 16px;
}

button {
  font-size: medium;
  font-weight: medium;
  background-color: transparent;
  border-width: 0px;
}

button:hover {
  cursor: pointer;
  color: rgb(235, 235, 235);
}

button:focus {
  /* background-color: rebeccapurple; */
  border-bottom-width: 4px;
  border-bottom-color: white;
  border-bottom-style: solid;
  color: white;
  font-weight: bold;
  font-size: large;
}

#navBar h1 {
  color: white;
  font-size: 32px;
  font-weight: bolder;
  margin-bottom: 12px;
}

#navButtonDiv {
  display: flex;
  width: "100%";
  justify-content: flex-end;
}

#navButtonDiv button {
  padding: 12px;
  width: 200px;
}

#content {
  display: flex;
  width: "100%";
  justify-content: center;
  padding: 24px 48px;
}

#introDiv {
  width: 70%;
}

#introDiv p {
  margin: 12px 24px 0px 0px;
}

#introImageDiv {
  width: 10rem;
  height: 10rem;
  background: linear-gradient(135deg, #ff9a8b, #ff6a88, #ff99ac);
  border-radius: 12px;
}

/* Menu Page */
#foodCard {
  display: flex;
  align-items: start;
  padding: 12px;
  border: 1px solid #8b0000;
  border-radius: 12px;
  width: 100%;
  margin-bottom: 16px;
}
#foodImage {
  height: 70px;
  width: 70px;
  border-radius: 12px;
  background: linear-gradient(135deg, #ff9a8b, #ff6a88, #ff99ac);
}

#foodInfo {
  padding: 16px 16px;
}

#price {
  display: flex;
  margin-top: 4px;
  justify-content: flex-end;
}

footer {
  display: flex;
  position: absolute;
  bottom: 0;
  justify-content: center;
  width: 100%;
  padding: 12px;
  background: linear-gradient(to bottom right, #8b0000, #ff8c00);
  color: white;
}

/* Contact Page */
#contactDiv {
  display: flex;
  flex-direction: column;
}

#title {
  margin-top: 12px;
}
